<div class="container">
  <header>
      <h1 class="text-center">Gasto Semanal</h1>
  </header>
  <section class="contenido-principal">
      <div class="row">
          <!-- Formulario de Gastos -->
          <div class="col">
              <div class="contenido primario">
                  <h2 class="text-center">Añade tus gastos aquí</h2>
                  <form (submit)="agregarGasto(nombreGasto.value, +cantidadGasto.value, nombreGasto, cantidadGasto); $event.preventDefault()" #gastoForm="ngForm">
                      <div class="form-group">
                          <label for="gasto">Gasto:</label>
                          <input type="text" class="form-control" id="gasto" placeholder="Nombre Gasto" #nombreGasto required>
                      </div>
                      <div class="form-group">
                          <label for="cantidad">Cantidad:</label>
                          <input type="number"  min="0" class="form-control" id="cantidad" placeholder="Cantidad en $" #cantidadGasto required>
                      </div>

                      <button type="submit" class="btn btn-primary boton">Agregar</button>
                  </form>

              </div> <!--.contenido-->
          </div> <!--.col-->

          <!-- Listado de Gastos -->
          <div class="col">
              <div class="contenido secundario">
                  <h2 class="text-center">Listado</h2>

                  <div id="gastos">
                      <ul class="list-group">
                          <li *ngFor="let gasto of gastos" class="list-group-item d-flex justify-content-between align-items-center">
                              {{ gasto.nombre }}
                              <span class="valor">$ {{ gasto.cantidad }}</span>
                              <button class="btn btn-danger borrar-gasto" (click)="eliminarGasto(gasto.id)">Borrar</button>
                          </li>
                      </ul>
                  </div>

                  <!-- Presupuesto y Restante -->
                  <div id="presupuesto" class="presupuesto">
                      <div class="alert alert-primary">
                          <p>Presupuesto: $ <span>{{ presupuesto }}</span></p>
                      </div>
                      <div [ngClass]="{'alert-success': restante > presupuesto / 2, 'alert-warning': restante <= presupuesto / 2 && restante > presupuesto / 4, 'alert-danger': restante <= presupuesto / 4}" class="restante alert">
                          <p>Restante: $ <span>{{ restante }}</span></p>
                      </div>
                  </div> <!--.presupuesto-->

              </div> <!--.contenido-->
          </div><!--.col-->
      </div> <!--.row-->
  </section>
</div>
